# dependencies
node_modules/
.vercel/
build/
dist/

# environment
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor junk
.DS_Store
.vscode/

# media / generated assets
public/*.mp4
public/assets/
